include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / CONTACT
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.page-head
				h1 CONTACT
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.topic.massage-sending
				.theme
					form
						.topic
							h5 TOPIC
							select.selectpicker
									option Lorem ipsum dolor sit amet, consectetur adipiscing elit
									option Cras a nisi dignissim neque laoreet semper vel ut tortor
									option Praesent sit amet lorem eu tellus fringilla pellentesque
						.two-inputs
							.close-inputs
								h5 NAME
								input(type="text")
							.close-inputs
								h5 E-MAIL
								input(type="text")
						.contact-massage
							h5 MASSAGE
							textarea
						button.sending(type="button") SEND
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 You may also like						
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
		include utiles/footer

