include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / MEN
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 COATS
				a(href="#").show-more 
					p
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTONhiw2IRkqrVfEkMHY8jUJxCx-FMQlzrWyItCBC-BTheY6iLw")
				a(href="detail.html").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="no-products.html").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTONhiw2IRkqrVfEkMHY8jUJxCx-FMQlzrWyItCBC-BTheY6iLw")
				a(href="no-products.html").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTONhiw2IRkqrVfEkMHY8jUJxCx-FMQlzrWyItCBC-BTheY6iLw")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTONhiw2IRkqrVfEkMHY8jUJxCx-FMQlzrWyItCBC-BTheY6iLw")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 OUTERWEARES
				a(href="#").show-more
					p
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRLtc8WXT8q6J68oL2ssYczsuXbXrMwBSArT4tXMj8njoueGxJ")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRLtc8WXT8q6J68oL2ssYczsuXbXrMwBSArT4tXMj8njoueGxJ")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRLtc8WXT8q6J68oL2ssYczsuXbXrMwBSArT4tXMj8njoueGxJ")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRLtc8WXT8q6J68oL2ssYczsuXbXrMwBSArT4tXMj8njoueGxJ")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 T-SHORTS
				a(href="#").show-more
					p
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="http://i01.i.aliimg.com/wsphoto/v0/1152510435/Free-Shipping-2013-Men-brand-T-Shirts-man-printing-tshirts-fashion-Men-T-Shirts-round-neck.jpg")
				p.costof
					|Double-Layered Top<br />
					|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="http://i01.i.aliimg.com/wsphoto/v0/1152510435/Free-Shipping-2013-Men-brand-T-Shirts-man-printing-tshirts-fashion-Men-T-Shirts-round-neck.jpg")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="http://i01.i.aliimg.com/wsphoto/v0/1152510435/Free-Shipping-2013-Men-brand-T-Shirts-man-printing-tshirts-fashion-Men-T-Shirts-round-neck.jpg")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="#").borderofimg
					img(src="http://i01.i.aliimg.com/wsphoto/v0/1152510435/Free-Shipping-2013-Men-brand-T-Shirts-man-printing-tshirts-fashion-Men-T-Shirts-round-neck.jpg")
				a(href="#").ware-link-name
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 Check our lookbook						
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
		include utiles/footer

					