include utiles/head
body
	.container
		include utiles/first-header
		.row.hazy-shades-margin
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.hazy-shades-wrap
				h1.hazy-shades HAZY SHADES OF SPRING
				p.hazy-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam.
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.hidden-xs
				a.hazy-button(href="goods.html") CHECK NEW ARRIVALS
		.row.clusterofblocks
			.col-sm-6.col-md-3.col-lg-3.blocks-padding
				a.big-rectangle.block-parameter(href="#")
					p
						|HEATHER GREY BASICS<br /> 
						|<span>NEW ARRIVAL</span>
				a(href="#").empty-block.hidden-xs
					img(src="http://upload.ecvv.com/upload/Product/20123/China_Popular_leather_shoes_dress_shoes_elegant_high_heels2012311504056.jpg")
			.col-sm-6.col-md-3.col-lg-3.blocks-padding.hidden-xs
				a.twitter-block(href="#")
					div
						img(src="img/twitter.png")
					p
						|Opening ceremony @IndonesiaFW tomorrow, FMers! Are you ready for the biggest fashion movement in
					p @PuspitaMarthaID
				a.chuck-taylors.block-parameter(href="#")
					p
						|CHUCK TAYLORS <span>$125.00</span>
				a.jaxon-hat.block-parameter(href="#").hidden-xs
					img(src="img/to-right-arrow.png")
					p 
						|JAXON HAT <span>BEANIE HAT</span>
			.col-sm-6.col-md-3.col-lg-3.blocks-padding
				a(href="#").empty-block.hidden-xs
					img(src="http://www.makemeheal.com/images/products/estore/10171/Jackson_Charcoal_LR.jpg")
				a.twitter-block(href="#")
					div
						img(src="img/twitter.png")
					p
						|Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar
					p
						|@Vogue
				a.basic-blazer.block-parameter(href="#")
					p
						|BASIC BLAZER<br />
						|<span>FROM $199.00</span>
			.col-sm-6.col-md-3.col-lg-3.blocks-padding
				a.elegant-shoes.block-parameter(href="#").hidden-xs
					img(src="img/to-right-arrow.png")
					p
						|ELEGANT SHOES <span>BRAIDER LEATHER</span>
				a.second-big-rectangle.block-parameter(href="#")
					p
						|JEANS FOR ADVENTURE<br />
						|<span>NEW ARRIVAL</span>
			//- .col-xs-12.mobile-blocks-padding.visible-xs
			//- 	a.mobile-empty-block
			//- 		img(src="")
			//- 	.mobile-elegant-shoes
			//- 		img(src="img/to-right-arrow.png")
			//- 		p
			//- 			|ELEGANT SHOES <span>BRAIDER LEATHER</span>
		.row.sign-up-margin
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h3.sign-up-header SIGN UP TO RECEIVE OUR UPDATES
				P.sign-up-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel turpis quis.
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				form
					div.e-mail-adder
						button(type="submit") add
						input(type="text" placeholder="Your e-mail")
		.row.four-cloud.visible-xs
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				a(href="#")
					img(src="http://th05.deviantart.net/fs70/PRE/f/2013/163/d/d/premade_background_2_by_imagase-d68qdje.png")
				a(href="#")
					img(src="http://th05.deviantart.net/fs70/PRE/f/2013/163/d/d/premade_background_2_by_imagase-d68qdje.png")
				a(href="#")
					img(src="http://th05.deviantart.net/fs70/PRE/f/2013/163/d/d/premade_background_2_by_imagase-d68qdje.png")
				a(href="#")
					img(src="http://th05.deviantart.net/fs70/PRE/f/2013/163/d/d/premade_background_2_by_imagase-d68qdje.png")
		.row.carousel-margin.hidden-xs
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
					a.image(href="#")
						img(src="http://www.artandshock.com.ua/images/phocagallery/tvaryny/thumbs/phoca_thumb_l_180x120.jpg")
		include utiles/footer
