include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / MEN
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.page-head
				h1 MEN
				p All products
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.filter-button.hidden-xs
				select.filter-select(title="Price")
					option
						|&#xf153;20-30
					option
						|&#xf153;30-50
					option
						|&#xf153;50-100
					option
						|&#xf153;100 and more
				select.filter-select(title="Size")
					option 32
					option 33
					option 34
					option 35
					option 36
				select.filter-select(title="Colour")
					option red
					option blue
					option yellow
					option purpure
					option white
			.col-xs-12.men-mobile-filter.visible-xs
				select.mobile-filter-select
					option Coats
					option T-shirts
					option Trousers
					option Jackets
					option Hats
		.row
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a.ware-link-name(href="detail.html")
					img.categoryes-img(src="img/man-blue-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				ul.pagination.hidden-xs
					li.active
						a(href="men.html") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
				a.load-products.visible-xs(href="#") LOAD MORE PRODUCTS
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 Check our lookbook					
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
					a.image(href="#")
						img(src="img/man-tshirt.jpg")
		include utiles/footer