include utiles/head
body
	.container
		include utiles/first-header
		.row.bascket-header
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.page-head
				h1 YORE SHOPPING BAG
				p Item reserved for limited time only
		.mycart
			.row.cart-border-bottom.hidden-xs.hidden-sm
				.col-xs-12.col-sm-12.col-md-4.col-lg-4.product-description
					p PRODUCT
					p DESCRIPTION
				.col-xs-12.col-sm-12.col-md-8.col-lg-8
					ul.table-property
						li
							p COLOR
						li
							p SIZE
						li
							p QTY
						li
							p AMOUNT
						li
							p DELETE
			.goodsincart
				.row.cart-border-bottom.border-bottom-first.auto-count
					.col-xs-12.col-sm-12.col-md-5.col-lg-4.table-margin
						a.ware-link-name(href="#")
							img.wares-img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRGqE4_dLd-lH8OAskD0uAUsHxsRl_y5M6jrGOG8Ct1xC4ibq5F")
							.ware-data
								p.ware-name FLORAL PLIMSOLL
								p.shopping-ware Ref. 2514/302</span>
							p.ware-mobile-data.visible-xs.visible-sm Color: <span>One Color</span>
							p.ware-mobile-data.visible-xs.visible-sm Size: <span>39</span> <span class="float-right"><i class="fa fa-eur"></i><span class="shopping-price">99.95</span></span>
					.col-xs-12.col-sm-12.col-md-7.col-lg-8.table-second-margin.hidden-xs.hidden-sm
						.table-value
							a.close-button(href="#")
								img(src="img/close.png")
							p.ware-price
								|<i class="fa fa-eur"></i><span class="shopping-price">99.95</span>
							.amount-toggle
								.toggles
									a(href="#").cart-plus
									a(href="#").cart-dash
								p 1
							p.ware-size 39
							p.ware-color One Color
				.row.cart-border-bottom.auto-count
					.col-xs-12.col-sm-12.col-md-5.col-lg-4.table-margin
						a.ware-link-name(href="#")
							img.wares-img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRGqE4_dLd-lH8OAskD0uAUsHxsRl_y5M6jrGOG8Ct1xC4ibq5F")
							.ware-data
								p.ware-name COATED 5 POCKET TROUSERS
								p.shopping-ware Ref. 8246/004
							p.ware-mobile-data.visible-xs.visible-sm Color: <span>One Color</span>
							p.ware-mobile-data.visible-xs.visible-sm Size: <span>M</span> <span class="float-right"><i class="fa fa-eur"></i><span class="shopping-price">195.95</span></span>
					.col-xs-12.col-sm-12.col-md-7.col-lg-8.table-second-margin.hidden-xs.hidden-sm
						.table-value
							a.close-button(href="#")
								img(src="img/close.png")
							p.ware-price
								|<i class="fa fa-eur"></i><span class="shopping-price">195.95</span>
							.amount-toggle
								.toggles
									a(href="#").cart-plus
									a(href="#").cart-dash
								p 1
							p.ware-size M
							p.ware-color One Color
				.row.cart-border-bottom.auto-count
					.col-xs-12.col-sm-12.col-md-5.col-lg-4.table-margin
						a.ware-link-name(href="#")
							img.wares-img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRGqE4_dLd-lH8OAskD0uAUsHxsRl_y5M6jrGOG8Ct1xC4ibq5F")
							.ware-data
								p.ware-name OVERSIZED STUDIO BLOUSE
								p.shopping-ware Ref. 2401/657
							p.ware-mobile-data.visible-xs.visible-sm Color: <span>Black</span>
							p.ware-mobile-data.visible-xs.visible-sm Size: <span>S</span> <span class="float-right"><i class="fa fa-eur"></i><span class="shopping-price">46.45</span></span>
					.col-xs-12.col-sm-12.col-md-7.col-lg-8.table-second-margin.hidden-xs.hidden-sm
						.table-value
							a.close-button(href="#")
								img(src="img/close.png")
							p.ware-price
								|<i class="fa fa-eur"></i><span class="shopping-price">46.45</span>
							.amount-toggle
								.toggles
									a(href="#").cart-plus
									a(href="#").cart-dash
								p 1
							p.ware-size S
							p.ware-color Black
				.row.cart-border-bottom.auto-count
					.col-xs-12.col-sm-12.col-md-5.col-lg-4.table-margin
						a.ware-link-name(href="#")
							img.wares-img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRGqE4_dLd-lH8OAskD0uAUsHxsRl_y5M6jrGOG8Ct1xC4ibq5F")
							.ware-data
								p.ware-name EVENING DRESS
								p.shopping-ware Ref. 2376/832
							p.ware-mobile-data.visible-xs.visible-sm Color: <span>One Color</span>
							p.ware-mobile-data.visible-xs.visible-sm Size: <span>39</span> <span class="float-right"><i class="fa fa-eur"></i><span class="shopping-price">90.15</span></span>
					.col-xs-12.col-sm-12.col-md-7.col-lg-8.table-second-margin.hidden-xs.hidden-sm
						.table-value
							a.close-button(href="#")
								img(src="img/close.png")
							p.ware-price
								|<i class="fa fa-eur"></i><span class="shopping-price">90.15</span>
							.amount-toggle
								.toggles
									a(href="#").cart-plus
									a(href="#").cart-dash
								p 1
							p.ware-size 39
							p.ware-color One Color
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						p.cart-subtotal Subtotal: <span><i class="fa fa-eur"></i><span class="shopping-subtotal">567.95</span></span>
						img.zigzag(src="img/zigzag.png")
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.address
					h1.address-head SHIPPING ADDRESS
					p.all-field All field are require
					.address-setting
						form
							.type-deliver
								h5 SELECT DELIVERY METHOD
								select.cart-selectpicker
									option
										|DHL International - &#xf153; 15.00
									option
										|Other option - &#xf153; 15.00
									option
										|Third option - &#xf153; 15.00
									option
										|And another - &#xf153; 15.00
							.two-inputs
								.close-inputs
									h5 First name
									input(type="text")
								.close-inputs
									h5 Last name
									input(type="text")
							.addresses
								h5 ADDRESS <span>(line 1)</span>
								input(type="text")
								h5 ADDRESS <span>(line 2)</span>
								input(type="text")
							.two-inputs
								.close-inputs
									h5 CITY
									input(type="text")
								.close-inputs
									h5 POSTAL CODE
									input(type="text")
							.two-inputs
								.close-inputs
									h5 PHONE NUMBER
									input(type="text")
								.close-inputs
									h5 E-MAIL
									input(type="text")
							.use-address
								input(type="checkbox")
								<span>Use this address for Billing</span>
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				img.zigzag(src="img/zigzag.png")
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.payment-option
					h1.address-head PAYMENT OPTION
					p.all-field All feild are required
					.row.subtotal-total
						.col-xs-6.col-sm-6.col-md-6.col-lg-6.subtotal-total-title
							p.shipping-total Subtotal:
							p.shipping-total Shipping:
							p.total-payment Total:
						.col-xs-6.col-sm-6.col-md-6.col-lg-6.subtotal-total-cost
							p <i class="fa fa-eur"></i>567.26
							p <i class="fa fa-eur"></i>15.75
							p <i class="fa fa-eur"></i>582.95
					.card-choice
						h5 SELLECT PAYMENT METHOD
						select.selectpicker-cards
							option
								|1 Lorem ipsum dolor sit amet
							option
								|1 Lorem ipsum dolor sit amet
							option
								|1 Lorem ipsum dolor sit amet
					a.order-button.center-align-block(type="button") ORDER NOW
		include utiles/footer
