include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / WOMEN
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 COATS
				p
					a(href="women.html").show-more 
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://thebestfashionblog.com/wp-content/uploads/2011/11/camel-coats-for-women_16.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="no-products.html").ware-link-name
					img.categoryes-img(src="http://thebestfashionblog.com/wp-content/uploads/2011/11/camel-coats-for-women_16.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://thebestfashionblog.com/wp-content/uploads/2011/11/camel-coats-for-women_16.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://thebestfashionblog.com/wp-content/uploads/2011/11/camel-coats-for-women_16.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 OUTERWEARES
				p
					a(href="#").show-more
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://www.oldnavy.com/Asset_Archive/ONWeb/Assets/Product/529/529382/big/on529382-01vliv01.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://www.oldnavy.com/Asset_Archive/ONWeb/Assets/Product/529/529382/big/on529382-01vliv01.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://www.oldnavy.com/Asset_Archive/ONWeb/Assets/Product/529/529382/big/on529382-01vliv01.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="http://www.oldnavy.com/Asset_Archive/ONWeb/Assets/Product/529/529382/big/on529382-01vliv01.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 T-SHORTS
				p
					a(href="#").show-more
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="https://caseih.logwin-logistics.com/out/pictures/master/product/1/cih-wt-127.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="https://caseih.logwin-logistics.com/out/pictures/master/product/1/cih-wt-127.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="https://caseih.logwin-logistics.com/out/pictures/master/product/1/cih-wt-127.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="https://caseih.logwin-logistics.com/out/pictures/master/product/1/cih-wt-127.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 Check our lookbook						
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
		include utiles/footer