include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / WOMEN
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 COATS
				p
					a(href="women.html").show-more 
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="no-products.html").ware-link-name
					img.categoryes-img(src="img/women-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"><span>89,95</span></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-coat.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 OUTERWEARES
				p
					a(href="#").show-more
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-outerweare.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-outerweare.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-outerweare.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-outerweare.jpg")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.margin-goods
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.clothes-show
				h1 T-SHORTS
				p
					a(href="#").show-more
						|<span>show more</span>
						|<i class="fa fa-caret-right"></i>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-tshirt.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-tshirt.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-tshirt.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
			.col-xs-6.col-sm-4.col-md-3.col-lg-3.costof
				a(href="detail.html").ware-link-name
					img.categoryes-img(src="img/women-tshirt.png")
					p.costof
						|Double-Layered Top<br />
						|<i class="fa fa-eur"></i><span>89,95</span>
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 Check our lookbook						
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
		include utiles/footer