.row.header-row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		.row.header-border
			.col-xs-2.col-sm-1.col-md-1.col-lg-1.left-padding-0
				a.logotype(href="index.html") SH
			//- .col-xs-9.col-sm-1.col-md-6.col-lg-6.right-padding.visible-xs
			//- 	a.mobile-bascket(href="#")
			//- 		img(src="img/bigger-pouch.png")
			.col-xs-10.col-sm-6.col-md-5.col-lg-5.nav-col.right-padding
				nav.nav.default-navbar
					.container-fluid
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false")
							span(class="sr-only") Toggle navigation
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						.navbar-collapse.collapse#menu
							ul.nav-menu.nav.navbar-nav
								li
									a(href="goods.html") Woman
								li
									a(href="men.html") Men
								li
									a(href="#") Kids
								li
									a(href="account.html") Coming Soon
								li.hidden-sm
									a(href="about-us.html") About
				a.mobile-bascket.visible-xs(href="shopping-cart-cut.html")
					img(src="img/bigger-pouch.png")
			.col-xs-8.col-sm-5.col-md-6.col-lg-6.right-padding-0.hidden-xs
				form
					.seek-bar
						button.seeker(type="button")
						input.seeker-text(type="text" placeholder="Search something")
				a.bascket.visible-lg(href="#")
					|<span>Bascket ()</span>
					img(src="img/pouch.png")
				.bascket-dropdown
					.cost-and-button
						p Subtotal: <span>0</span>
						a(href="shopping-cart-cut.html") CHECK OUT
				a.midle-screen-bascket.hidden-lg(href="shopping-cart-cut.html") Bascket ()
				img.bascket-img.hidden-lg(src="img/pouch.png")
				//- a.nav-a.nav-a-margin.btn.btn-primary.btn-lg(href="#" data-toggle="modal" data-target="#myModal")
				//- 	|Log In
				//- 	img.nav-img(src="img/login-img.png")
				a.nav-a.nav-a-margin.btn.btn-primary.btn-lg(href="#" data-toggle="modal" data-target="#myModal") Log In
				img.login-img(src="img/login-img.png")
				.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledly="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content
							.modal-body
								h1 SIGN IN
								h5 E-MAIL
								input(type="text")
								h5 PASSWORD 
									a.forgot-password(href="#") forgot password
								input.login-password(type="password")
								button.eye-toggle(type="button")
									img(src="img/eye_toggle.png")
								.log-in
									a(href="account.html") LOG IN
									a.havent-account(href="#") I don't have an account
	//- hr.bottomofhead
