.row
	.col-xs-12.col-sm-3.col-md-3.col-lg-3.hidden-xs
			ul.collection.footer-lists
				li
					h4 COLLECTION
				li
					a(href="#") Woman (1725)
				li
					a(href="#") Men (635)
				li
					a(href="#") Kids (2514)
				li
					a(href="#") Comming Soon (76)
	.col-xs-12.col-sm-3.col-md-3.col-lg-3.hidden-xs
		.left-border
			ul.footer-lists
				li
					h4 SITE
				li
					a(href="#") Terms of Service
				li
					a(href="#") Privacy Policy
				li
					a(href="no-products.html") Copyright Policy
				li
					a(href="search.html") Press Kit
				li
					a(href="#") Support
	.col-xs-12.col-sm-3.col-md-3.col-lg-3.hidden-xs
		.left-border
			ul.footer-lists
				li
					h4 SHOP
				li
					a(href="about-us.html") About us
				li
					a(href="#") Shipping Metods
				li
					a(href="#") Career
				li
					a(href="contact.html") Contact
	.col-xs-12.col-sm-3.col-md-3.col-lg-3
		.left-border
			h4 SOCIAL
			p 
				|Shoper is made with love in Warsaw<br />
				|2014 <i class="fa fa-copyright"></i> All right reserved. EI Passion.
			ul.social-networks
				li
					a(href="#")
						<i class="fa fa-twitter"></i>
				li
					a(href="#")
						<i class="fa fa-facebook"></i>
				li
					a(href="#")
						<i class="fa fa-instagram"></i>

