<div class="row hazy-shades-margin">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hazy-shades-wrap">
    <h1 class="hazy-shades">HAZY SHADES OF SPRING</h1>
    <p class="hazy-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs"><a href="#" class="hazy-button">CHECK NEW ARRIVALS</a></div>
</div>
<div class="row clusterofblocks">
  <div class="col-sm-6 col-md-3 col-lg-3 blocks-padding"><a href="#" class="big-rectangle block-parameter">
      <p>
        HEATHER GREY BASICS<br /> 
        <span>NEW ARRIVAL</span>
      </p></a><a href="#" class="empty-block hidden-xs"><img src="img/Jackson_Charcoal_LR.jpg"></a></div>
  <div class="col-sm-6 col-md-3 col-lg-3 blocks-padding hidden-xs"><a href="#" class="twitter-block">
      <div><img src="img/twitter.png"></div>
      <p>Opening ceremony @IndonesiaFW tomorrow, FMers! Are you ready for the biggest fashion movement in</p>
      <p>@PuspitaMarthaID</p></a><a href="#" class="chuck-taylors block-parameter">
      <p>CHUCK TAYLORS <span>$125.00</span></p></a><a href="#" class="jaxon-hat block-parameter hidden-xs"><img src="img/to-right-arrow.png">
      <p>
         
        JAXON HAT <span>BEANIE HAT</span>
      </p></a></div>
  <div class="col-sm-6 col-md-3 col-lg-3 blocks-padding"><a href="#" class="empty-block hidden-xs"><img src="img/elegant-shoes.jpg"></a><a href="#" class="twitter-block">
      <div><img src="img/twitter.png"></div>
      <p>Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar</p>
      <p>@Vogue</p></a><a href="#" class="basic-blazer block-parameter">
      <p>
        BASIC BLAZER<br />
        <span>FROM $199.00</span>
      </p></a></div>
  <div class="col-sm-6 col-md-3 col-lg-3 blocks-padding"><a href="#" class="elegant-shoes block-parameter hidden-xs"><img src="img/to-right-arrow.png">
      <p>ELEGANT SHOES <span>BRAIDER LEATHER</span></p></a><a href="#" class="second-big-rectangle block-parameter">
      <p>
        JEANS FOR ADVENTURE<br />
        <span>NEW ARRIVAL</span>
      </p></a></div>
</div>
<div class="row sign-up-margin">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 class="sign-up-header">SIGN UP TO RECEIVE OUR UPDATES</h3>
    <P class="sign-up-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel turpis quis.</P>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form>
      <div class="e-mail-adder">
        <button type="submit">add</button>
        <input type="text" placeholder="Your e-mail">
      </div>
    </form>
  </div>
</div>
<div class="row four-cloud visible-xs">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a href="#"><img src="img/women-flower-boot.jpg"></a><a href="#"><img src="img/women-flower-boot.jpg"></a><a href="#"><img src="img/women-flower-boot.jpg"></a><a href="#"><img src="img/women-flower-boot.jpg"></a></div>
</div>
<div class="row carousel-margin hidden-xs">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel-wrap"><a href="#" class="right-arrow"></a><a href="#" class="left-arrow"></a>
    <div class="img-slicker"><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a><a href="#" class="image"><img src="img/women-flower-boot.jpg"></a></div>
  </div>
</div>