include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / ABOUT
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.page-head
				h1 ABOUT
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-team
				img(src="http://www.piranhaphotography.com/blog/wp-content/uploads/2010/07/business-portrait-black-white-0066.jpg")
		.row.who-what-margin
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.who-what
					h2 WHO WE ARE?
					P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue et nisi et laoreet. Cras a nisi dignissim neque laoreet semper vel ut tortor. Praesent sit amet lorem eu tellus fringilla pellentesque. Ut nec lectus urna. In feugiat purus id pretium molestie. Maecenas ac orci ac urna aliquam pretium. Sed venenatis purus vitae pretium placerat. Donec rutrum volutpat semper. Vestibulum suscipit rutrum odio ac rutrum. Nunc facilisis arcu vitae sodales facilisis. Nam tempor augue quam, aliquet faucibus velit mattis nec.
					P Quisque mollis magna lacus, ac congue purus tristique quis. Aenean sit amet suscipit velit. Praesent non eros erat. Nullam mattis quam nisi, in blandit justo sollicitudin sit amet. Integer tristique fermentum ultricies. Duis facilisis lacus eget tincidunt congue. Mauris pharetra erat et ante elementum, vel molestie arcu iaculis.
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.who-what
					h2 WHAT WE ARE DOING?
					P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue et nisi et laoreet. Cras a nisi dignissim neque laoreet semper vel ut tortor. Praesent sit amet lorem eu tellus fringilla pellentesque. Ut nec lectus urna. In feugiat purus id pretium molestie. Maecenas ac orci ac urna aliquam pretium. Sed venenatis purus vitae pretium placerat. Donec rutrum volutpat semper. Vestibulum suscipit rutrum odio ac rutrum. Nunc facilisis arcu vitae sodales facilisis. Nam tempor augue quam, aliquet faucibus velit mattis nec.
					P Quisque mollis magna lacus, ac congue purus tristique quis. Aenean sit amet suscipit velit. Praesent non eros erat. Nullam mattis quam nisi, in blandit justo sollicitudin sit amet. Integer tristique fermentum ultricies. Duis facilisis lacus eget tincidunt congue. Mauris pharetra erat et ante elementum, vel molestie arcu iaculis.
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 You may also like	
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
					a.image(href="#")
						img(src="http://plitkaoboi.ru/i/plitka/Ceranosa/Plaqueta-10X20/40288.jpeg")
		include utiles/footer
