include utiles/head
body
	.container
		include utiles/first-header
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				p.navigate <a href="index.html">HOME</a> / <a href="men.html">CONTACT</a> / <span>JACKETS</span>
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.page-head.no-product-head-margin
				h1 COATS
				p No products in this category
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.no-product-content
				p
					|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus sagittis sem, a dictum.<br />
					|Suspendisse placerat, diam at egestas tincidunt augue.
				p Pleas try to find something in <a href="#">Trousers</a>, <a href="#">T-Shirts</a>, and <a href="#">Foot Wear</a>
		.row.carousel-margin.hidden-xs.hidden-sm
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-head
				h2 Check our lookbook						
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel-wrap
				a.right-arrow(href="#")
				a.left-arrow(href="#")
				.img-slicker
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
					a.image(href="#")
						img(src="img/women-flower-boot.jpg")
		include utiles/footer